---
import CategorySmall from "../categorySmall.astro";

const { slug, cover, author, date, title, desc, category } = Astro.props;
---

<div
  class="w-full flex flex-col lg:flex-row lg:justify-between gap-6 items-start"
>
  <a href={slug} class="lg:w-1/2">
    <img src={cover} alt={title}/>
  </a>
  <div class="lg:w-1/2 flex flex-col items-start gap-4">
    <div class="flex flex-wrap gap-2 lg:gap-4 text-base">
      <span>{author}</span>
      <span>{date}</span>
    </div>
    <a href={slug}>
      <h3 class="text-3xl font-bold">{title}</h3>
    </a>
    <p class="text-lg lg:text-xl">{desc}</p>
    <CategorySmall label={category} />
  </div>
</div>
