---
const {
  title,
  description,
  url,
  image = "/opengraph.png",
  datePublished,
  dateModified = datePublished,
  author = "Ronald Santos",
  category = "",
} = Astro.props;
---

<head>
  <!-- SEO Básico -->
  <title>{title}</title>
  <meta name="description" content={description} />
  <link rel="canonical" href={url} />
  <meta name="robots" content="index, follow" />

  <!-- Open Graph -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:type" content="article" />
  <meta property="og:url" content={url} />
  <meta property="og:image" content={image} />
  <meta
    property="og:logo"
    content="https://www.midquest.com.br/logo-black.svg"
  />

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={image} />

  <!-- JSON-LD Article -->
  <script
  type="application/ld+json"
  set:html={JSON.stringify({
    "@context": "https://schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": url
    },
    "headline": title,
    "description": description,
    "image": image,
    "author": {
      "@type": "Person",
      "name": author
    },
    "publisher": {
      "@type": "Organization",
      "name": "Midquest",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.midquest.com.br/logo-black.svg"
      }
    },
    "articleSection": category,
    "datePublished": datePublished,
    "dateModified": dateModified
  })}
/>
</head>
