---
import CardPost from "../post/cardPost.astro";
import { format } from "date-fns";
import { ptBR } from "date-fns/locale/pt-BR";
import { getAllPosts } from "../../lib/api";

const postsBlog = await getAllPosts();
---

<ul class="flex flex-wrap items-center gap-6 lg:gap-8">
  {
    postsBlog.length > 0 ? (
      postsBlog.map((post: any) => (
        <li>
          <CardPost
            cover={`http://localhost:1337${post.cover.formats.small.url}`}
            author={post.author.name}
            date={format(new Date(post.publishedAt), "dd/MM/yy", {
              locale: ptBR,
            })}
            title={post.title}
            desc={post.description}
            category={post.category.title}
            slug={`/blog/${post.slug}`}
          />
        </li>
      ))
    ) : (
      <p>Nenhum post recente encontrado.</p>
    )
  }
</ul>
